<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ezbac">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EzBac">
        <activity android:name=".Specializare"></activity>
        <activity android:name=".CHIMIE" />
        <activity android:name=".BIO" />
        <activity android:name=".INFO" />
        <activity android:name=".ROMANA" />
        <activity android:name=".Fizica" />
        <activity android:name=".Final" />
        <activity android:name=".MATE" />
        <activity android:name=".SESIUNE" />
        <activity android:name=".PDF" />
        <activity android:name=".AN" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>